<link rel="stylesheet" href="../public/styles/header.css">
<header>
    <!-- بالای نوبار بخش ارتباط و ادرس و تماس -->
    <div class="navTop">
        <div class="addressContact ">
            <span>021_123456</span>
            <div class="call ">
                <img src="../public/icons/thin-0294_phone_call_ringing.png" alt="" srcset="">
            </div>
            <div class="email ">
                <span>info@gmail.com</span>
                <img src="../public/icons/thin-0319_email_mail_post_card.png" alt="" srcset="">
            </div>
            <div class="map ">
                <span>تهران خیابان میرداماد کد17</span>
                <img src="../public/icons/thin-0535_navigation_location_drop_pin_map.png" alt="" srcset="">
            </div>
        </div>
        <div class="iconLink">
            <a class="inline-block" href="https://instagram.com/">
                <img class="w-[10px]" src="../public/icons/instagram.png" alt="ins" srcset="">
            </a>
            <a class="inline-block" href="https://telegram.org/">
                <img class="w-[10px]" src="../public/icons/telegram.png" alt="tel" srcset="">
            </a>
            <a class="inline-block" href="https://whatsapp.com/">
                <img class="w-[10px]" src="../public/icons/whatsapp.png" alt="wp" srcset="">
            </a>
        </div>
    </div>
    <hr>
    <!-- بخش نوبار اصلی -->
    <div class="navbar">
        <div class="logo">
            <img src="../public/icons/thin-0826_teeth_tooth_dental.png" alt="">
            <span class="btitr logotex">کلینیک دندان پزشکی</span>
        </div>
        <ul class="menues btitr">
            <a href="/">
                <li>صفحه اصلی</li>
            </a>
            <a href="/">
                <li>درباره ما</li>
            </a>
            <a href="/">
                <li>خدمات</li>
            </a>
            <a href="/">
                <li>پزشکان</li>
            </a>
            <a href="/">
                <li>مقالات</li>
            </a>
            <a href="/">
                <li>گالری</li>
            </a>
            <a href="/">
                <li>تماس با ما</li>
            </a>

        </ul>
        <div class="btnLogin">
            <a href="/userLogin.html">
                <button class="login-btn">ورود | ثبت نام</button>
            </a>
            <a href="/adminLogin.html">
                <button class="login-btn">ورود مدیر</button>
            </a>
            <a href="/rezerv.html">
                <button class="rezerv-btn">رزرو نوبت</button>
            </a>
        </div>
    </div>
    <hr>
</header>