@font-face {
    font-family: 'B-titr';
    src: url(../fonts/B-Titr/B\ Titr\ Bold_0.ttf);
}
@font-face {
    font-family: 'B-nazanin';
    src: url(../fonts/B_NAZANIN/B-NAZANIN.TTF);
}
.btitr{
    font-family: 'B-titr';
}
img{
    width: 4vh;
}
hr{
    opacity: 0.5;
}
/* top navbar */
.navTop{
    display: flex;
    justify-content: space-between;
}
.addressContact{
    display: flex;
    gap: 15px;
    text-indent: 2px;
    font-family: 'B-titr';
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.addressContact :nth-child(1){
    position: relative;
    top: -1vh;
}
.addressContact img{
    padding-top: 5px;
}
.iconLink img{
    transition: all ease 0.5s;
}
.iconLink img:hover{
    transform: scale(1.10);
}
.iconLink a{
    text-decoration: none;
    padding: 3px;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logotex{
    display: inline-block;
    position: relative;
    bottom: 5px;
    font-size: 1.1rem;
    color: #205ad8;
}
.logo img{
    width: 5vh;
}
.menues{
    list-style: none;
    display: flex;
    gap: 5vh;
}
.menues a{
    text-decoration: none;
    display: inline-block;
    color: black;
    transition: all ease 0.5s;

}
.menues a:hover{
    transform: scale(1.1);
    color: #205ad8;
}
.btnLogin{
    display: flex;
    gap: 10px;
}
.btnLogin button{
    padding: 5px;
    border-radius: 10%;
    border: 1px solid rgba(97, 97, 97, 0.671);
    background-color: #205ad8;
    font-family: 'B-titr';
    color: aliceblue;
}
.btnLogin button:hover{
    transform: scale(1.1);
}
.btnLogin a .rezerv-btn{
    background-color: #fff;
    color: #205ad8;
}
@media (max-width: 768px) {

  .menues{
    display: none;
  }
}